body
{
     text-align:center;
}
h1
{
    color：red;
    text-shadow:0 0 2px;
    
}
#container
{  
	margin:0 auto;
	width:960px;
        border:#ffe6d9 solid 2px;
        background-image:url(images/c.jpg);
       
        border-radius:0 0 20px 20px;
}
#navi
{
border:#ffe6d9 solid 1px;
}
#content
{
       border:#ffe6d9 solid 2px;
}
.p1
{
    float:right;
border:#ffe6d9 2px solid;
}
.p2
{
    float:left;
border:#ffe6d9 2px solid;
box-shadow:0 0 2px #ffe6d9;
}
.p3
{
    float:right;
border:#ffe6d9 2px solid;
}
#foot
{
background-color:#ffe6d9;
border-radius: 0 0 20px 20px;
}
#foot a
{
   text-decoration:none;
   color:black;
}
#d1
{ 
border-image-source:url(images/decor.png);
border-image-slice:6;
border-image-width:auto;
border-image-repeat:repeat;
float:left;
font-size:40px;
color:red;
}
p
{
    text-indent:2em;
    font-family: 微软雅黑;
    line-height:30px;
    text-align:left;
}
p.t1::first-letter
{
text-indent:0em;
float:left;
font-size:40px;
text-shadow:0 0 2px;
}

.c1{ text-align:right;}
.c2{ text-align:right;}

